body{
    margin: 0;
    padding: 0;
    background: #EB5A04 url('../imagenes/fondo.gif') 0 0 repeat-x;
    font: 70%/160% "verdana", sans-serif; /*nuevo*/
    color: #00EB57;
}
a{
    color:#253575;
    list-style: none
}
ul{
    margin: 1em 0 1em 2em;
    padding: 0;
}
#cabecera{
    height: 115px;
    background: #199A00;
    color:#fff;
    position: relative;
    width: 100%; /*nuevo*/
    margin: 0; /*nuevo*/
    padding: 0; /*nuevo*/
}
#menu{
    background: #B29300;
    margin: 0 5px;
    padding: 10px 0 0 0; 
}
#menu ul{
    margin: 0 10px;
    padding:0;
    list-style: none;
}
#menu ul li{
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
}
#menu ul li a{
    display: block;
    position: relative;
    padding: 5px 15px;
    border:0;
    background: #253575;
    color:#B5C4E3;
    text-decoration: none;
    font-weight: bold;/*nuevo*/
}
#menu ul li a:hover{
    background: #31479B;
}

#pie{
    background: red

}